<div class="projetos">
    <div class="p-esquerda">
        <div class="projeto" (click)="redirectToArcadePlus()">
            <div class="img1"></div>
            <div class="img-text"><div class="text">App de Visualização de<br> Jogos para um Fliperama</div></div>
        </div>

        <div class="projeto"></div>
    </div>

    <div class="p-direita">
        <div class="projeto" (click)="redirectToDesignGrafico()">
            <div class="img2"></div>
            <div class="img-text"><div class="text">Design Gráfico</div></div>
        </div>

        <div class="projeto"></div>
    </div>
</div>


