<div class="wrapper">
    <div class="wrapper-img">
        <div class="img"></div>
    </div>
    
    <div class="wrapper-text">
        <div class="h1">Visão geral do projeto</div>
    
        <div class="h2">O PRODUTO: </div>
        <div class="text">
            O Arcade+ oferece aos clientes uma grande facilidade na hora de escolher os jogos
            e comprar os tickets do Fliperama, dessa forma, seus principais recursos são os mecanismos
            de pesquisa e o sistema de reviews. O principal objetivo do Arcade+ é captar os clientes através
            da facilidade de uso do aplicativo.
        </div>
    
        <div class="h2">DURAÇÃO DO PROJETO: </div>
        <div class="text">
            De junho 2023 a novembro 2023.
        </div>
    
        <div class="h2">O PROBLEMA: </div>
        <div class="text">
            Os jogadores desejam encontrar jogos que estejam próximos de suas preferências pessoais.
        </div>
    
        <div class="h2">O OBJETIVO: </div>
        <div class="text">
            Criar um aplicativo fácil de usar e de identificar jogos por filtros e sistema de avaliação.
        </div>
    
        <div class="h2">MEU CARGO: </div>
        <div class="text">
            UX designer projetando um aplicativo de visualização de jogos para um Fliperama
            desde a concepção até a entrega.
        </div>
    
        <div class="h2">RESPONSABILIDADES: </div>
        <div class="text">
            Condução de entrevistas, wireframing em papel e digital, prototipagem de baixa e alta fidelidade,
            realização de estudos de usabilidade, contabilização de acessibilidade e iteração em designs.
        </div>
    </div>
    
    <div class="wrapper-text margintop">
        <div class="h3">Compreendendo o usuário</div>
    
        <div class="topicos-wrapper">
            <ul class="ul">
                <li class="li">Pesquisa do usuário</li>
                <li class="li">Personas</li>
                <li class="li">Declarações de problemas</li>
                <li class="li">Mapas da jornada do usuário</li>
            </ul>
        </div>
    
        <div class="h1">Pesquisa do usuário: resumo</div>
    
        <div class="text">
            Realizei entrevistas e criei mapas de empatia para entender os usuários que estou
            projetando e suas necessidades. Um grupo de usuários primário identificado por meio de pesquisa
            eram pessoas que frequentam fliperamas por pelo
            menos uma vez por mês.
        </div>
    
        <div class="text">
            Este grupo de usuários confirmou suposições iniciais sobre os possíveis usuários do Arcade+, a pesquisa também
            revelou que a grande maioria dos fliperamas não oferecem
            esse tipo de serviço, dessa forma, um dos problemas do usuário é torná-lo identificado com o aplicativo.
        </div>
    
        <div class="h1">Pesquisa do usuário: pain points</div>
    
        <div class="h2 color-red">UTILIDADE</div>
        <div class="text">
            Para os jogadores, é melhor saber sobre o jogo antes de comprá-lo.
        </div>
    
        <div class="h2 color-red">ACESSIBILIDADE</div>
        <div class="text">
            As plataformas de catalogação de jogos não estão equipadas com tecnologias assistivas
        </div>
    
        <div class="h2 color-red">AI</div>
        <div class="text">
            Menus com muito texto em aplicativos costumam ser difíceis de ler e ordenar
        </div>
    
        <div class="h1">Persona: Carlos</div>
    </div>
    
    <div class="wrapper-img2">
        <div class="img2"></div>
    </div>
    
    <div class="wrapper-text">
        <div class="h2">DECLARAÇÃO DE PROBLEMA: </div>
        <div class="text">
            Carlos é um jogador de video games old school que precisa de uma maneira fácil de pesquisar
            jogos por gênero e outros filtros, porque ele deseja encontrar jogos que estejam próximos de
            suas preferências pessoais.
        </div>
    
        <div class="h1">Mapa da jornada do usuário</div>
    </div>
    
    <div class="wrapper-img2">
        <div class="img3"></div>
    </div>
    
    <div class="wrapper-text">
        <div class="text">
            O mapeamento da jornada do usuário de Carlos revelou o quão útil seria para
            os usuários ter acesso a um aplicativo dedicado do Fliperama.
        </div>
    </div>
    
    <div class="wrapper-text margintop">
        <div class="h3">Começando o design</div>
    
        <div class="topicos-wrapper">
            <ul class="ul">
                <li class="li">Wireframes de papel</li>
                <li class="li">Wireframes Digitais</li>
                <li class="li">Protótipo de baixa fidelidade</li>
                <li class="li">Estudos de usabilidade</li>
            </ul>
        </div>
    
        <div class="h1">Wireframes de papel</div>
    
        <div class="text">
            Reservar um tempo para esboçar iterações de cada tela do aplicativo no papel 
            garantiu que os elementos que chegaram aos wireframes digitais seriam adequados 
            para resolver os pontos problemáticos do usuário. Para a tela inicial, eu destaquei as 
            ferramentas de pesquisa e os jogos vistos recentemente, tornando o processo rápido e fácil 
            para ajudar os usuários a economizar tempo.
        </div>
    </div>
    
    <div class="wrapper-img2">
        <div class="img4"></div>
    </div>
    
    <div class="wrapper-text">
        <div class="text">
            Estrelas foram utilizadas para marcar os elementos de cada esboço que seriam utilizados nos wireframes 
            digitais iniciais.
        </div>
        
        <div class="h1">Wireframes digitais</div>
    </div>
    
    <div class="wrapper-img2">
        <div class="img5"></div>
    </div>
    
    <div class="wrapper-text">
        <div class="text">
            À medida que a fase inicial de design continuava, me certifiquei de basear 
            os designs de tela no feedback e nas descobertas da pesquisa do usuário.
        </div>
    </div>
    
    <div class="wrapper-img2">
        <div class="img6"></div>
    </div>
    
    <div class="wrapper-text">
        <div class="text">
            A navegação fácil foi uma necessidade fundamental do usuário nos designs, 
            além de equipar o aplicativo para funcionar com tecnologias assistivas.
        </div>
    
        <div class="h1">Protótipo de baixa fidelidade</div>
    </div>
    
    <div class="wrapper-img2">
        <div class="img7"></div>
    </div>
    
    <div class="wrapper-text">
        <div class="text">
            Usando o conjunto completo de wireframes digitais, 
            criei um protótipo de baixa fidelidade. O principal 
            fluxo de usuário que conectei foi pesquisar e comprar um ticket para o jogo, 
            para que o protótipo pudesse ser usado em um estudo de usabilidade.
        </div>
    
        <div class="text">
            Veja o Arcade+:
        </div>
    
        <a class="text2 sitelink" target="_blank" href="https://www.figma.com/proto/rE074ptigEdshYwFTRD6vj/App-de-visualiza%C3%A7%C3%A3o-de-jogos-para-um-fliperama?page-id=41%3A2&type=design&node-id=41-3&viewport=476%2C503%2C0.18&t=4Q6HzLSkRtvHSLCT-1&scaling=scale-down&starting-point-node-id=41%3A3&mode=design">
            protótipo de baixa fidelidade
        </a>
    
        <div class="h1">Estudo de usabilidade: descobertas</div>
    
        <div class="text">
            Eu conduzi dois estudos de usabilidade. As descobertas do 
            primeiro estudo ajudaram a orientar os projetos, desde wireframes até mockups. 
            O segundo estudo utilizou um protótipo de alta fidelidade e revelou quais 
            aspectos dos modelos precisava de refinamento.
        </div>
    
        <div class="h2 color-yellow">ROUND 1 DESCOBERTAS</div>
    
        <div class="text">
            1. Os usuários desejam testar a pesquisa e os filtros.<br>
            2. Os usuários querem favoritar seus jogos.<br>
            3. Alguns textos foram confundidos com inputs.
        </div>
    
        <div class="h2 color-yellow">ROUND 2 DESCOBERTAS</div>
    
        <div class="text">
            1. Sentiu-se a necessidade de uma sessão de jogos recomendados.<br>
            2.  Os usuários querem a opção de adicionar múltiplos tickets ao carrinho. 
        </div>
    </div>
    
    <div class="wrapper-text margintop">
        <div class="h3">Refinando o design</div>
    
        <div class="topicos-wrapper">
            <ul class="ul">
                <li class="li">Mockups</li>
                <li class="li">Protótipo de alta fidelidade</li>
                <li class="li">Acessibilidade</li>
            </ul>
        </div>
    
        <div class="h1">Mockups</div>
    </div>
    
    <div class="wrapper-img2">
        <div class="img8"></div>
    </div>
    
    <div class="wrapper-text">
        <div class="text">
            Após os estudos de usabilidade, adicionei a opção de favoritar os jogos e 
            de acessá-los de maneira fácil no menu, dessa forma, melhorando a navegação 
            mudando alguns ícones de lugar. Vale constar que antes do primeiro estudo de 
            usabilidade eu não tinha incluído as ferramentas de pesquisa, feature que adicionei 
            logo em seguida.
        </div>
    </div>
    
    <div class="wrapper-img2">
        <div class="img9"></div>
    </div>
    
    <div class="wrapper-text">
        <div class="text">
            O segundo estudo de usabilidade revelou a necessidade de uma seção de jogos 
            recomendados para o usuário, para tornar a experiência mais prática, então 
            adicionei essa seção a tela principal do App.
        </div>
    
        <div class="h1">Mockups principais</div>
    </div>
    
    <div class="wrapper-img2">
        <div class="img10"></div>
    </div>
    
    <div class="wrapper-text">
        <div class="h1">Protótipo de alta fidelidade</div>
    </div>
    
    <div class="wrapper-img2">
        <div class="img11"></div>
    </div>
    
    <div class="wrapper-text">
        <div class="text">
            O protótipo final de alta fidelidade apresentou uma experiência completa 
            com fluxos de usuário mais limpos para pesquisar um jogo e finalizar a 
            compra do ticket. Também atendeu às necessidades do usuário em termos de 
            cadastro de conta e login, bem como a necessidade de feedbacks assertivos ao usuário.
        </div>
    
        <div class="text">
            Veja o Arcade+:
        </div>
    
        <a class="text2 sitelink" target="_blank" href="https://www.figma.com/proto/rE074ptigEdshYwFTRD6vj/App-de-visualiza%C3%A7%C3%A3o-de-jogos-para-um-fliperama?page-id=60%3A2&type=design&node-id=60-46&viewport=-166%2C-127%2C0.32&t=8a83XLebgVXbSTr4-1&scaling=scale-down&starting-point-node-id=60%3A46&show-proto-sidebar=1&mode=design">
            protótipo de alta fidelidade
        </a>
    
        <div class="h2">CONSIDERAÇÕES DE ACESSIBILIDADE</div>
    
        <div class="text">
            1. Acesso fornecido a usuários com deficiência visual por meio da adição de texto alternativo a imagens para leitores de tela.<br>
            2. Ícones usados para facilitar a navegação.<br>
            3. Usei imagens detalhadas dos jogos para ajudar todos os usuários a entender melhor os designs.
        </div>
    </div>
    
    <div class="wrapper-text margintop">
        <div class="h3">Daqui para frente</div>
    
        <div class="topicos-wrapper">
            <ul class="ul">
                <li class="li">Aprendizado</li>
                <li class="li">Próximos passos</li>
            </ul>
        </div>
    
        <div class="h1">Aprendizado</div>
    
        <div class="h2">IMPACTO</div>
    
        <div class="text">
            O aplicativo faz com que os usuários sintam que o Arcade+ realmente 
            pensa em como atender às suas necessidades.
        </div>
    
        <div class="text">
            Uma citação do feedback dos colegas:<br>
            “O aplicativo tornou muito fácil e divertido pesquisar pelos jogos! Eu definitivamente usaria este 
            aplicativo para encontrar os melhores jogos do Fliperama e também para conhecer jogos novos”.
        </div>
    
        <div class="h2">O QUE EU APRENDI</div>
    
        <div class="text">
            Ao projetar o aplicativo Arcade+, aprendi que as primeiras ideias para o 
            aplicativo são apenas o começo do processo. Estudos de usabilidade e feedback 
            de colegas influenciaram cada iteração dos designs do aplicativo.
        </div>
    
        <div class="h1">Próximos passos</div>
    </div>
    
    <div class="wrapper-img2">
        <div class="img12"></div>
    </div>
</div>

