.footer {
	margin-left: 110px;
	margin-bottom: 110px;
	margin-top: 50px;
    font-size: 16px;
}

.h6 {
	font-size: 14px;
	margin-top: 10px;
	color: #575757;
}

@media only screen and (max-width: 730px) {
	.footer {
		margin-left: 50px;
		width: 350px;
	}
}