.wrapper-img {
    display: flex;
    flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 240px;
    row-gap: 30px;
}

.img {
    background-image: url("../../assets/img/design-grafico/poster-mbappe.png");
	background-repeat: no-repeat;
	width: 1080px;
	height: 1350px;
    display: block;
    margin-bottom: 80px;
}

.img2 {
    background-image: url("../../assets/img/design-grafico/Poster.png");
	background-repeat: no-repeat;
	width: 1080px;
	height: 1350px;
    display: block;
    margin-bottom: 80px;
}

.img3 {
    background-image: url("../../assets/img/design-grafico/carrousel.png");
	background-repeat: no-repeat;
	width: 1258px;
	height: 250px;
    display: block;
    margin-bottom: 80px;
}

.img4 {
    background-image: url("../../assets/img/design-grafico/packshot.png");
	background-repeat: no-repeat;
	width: 1080px;
	height: 1350px;
    display: block;
    margin-bottom: 80px;
}

.img5 {
    background-image: url("../../assets/img/design-grafico/post-motiv-01.png");
	background-repeat: no-repeat;
	width: 1080px;
	height: 1080px;
    display: block;
    margin-bottom: 80px;
}

.img6 {
    background-image: url("../../assets/img/design-grafico/nave_alienigena.png");
	background-repeat: no-repeat;
	width: 1080px;
	height: 1080px;
    display: block;
    margin-bottom: 80px;
}

.img7 {
    background-image: url("../../assets/img/design-grafico/post-comp.png");
	background-repeat: no-repeat;
	width: 1080px;
	height: 1080px;
    display: block;
    margin-bottom: 80px;
}

.img8 {
    background-image: url("../../assets/img/design-grafico/logotipo-macaco.jpg");
	background-repeat: no-repeat;
	width: 1080px;
	height: 1080px;
    display: block;
    margin-bottom: 80px;
}

.img9 {
    background-image: url("../../assets/img/design-grafico/post-dh-01.png");
	background-repeat: no-repeat;
	width: 1080px;
	height: 1080px;
    display: block;
    margin-bottom: 80px;
}

@media only screen and (max-width: 1200px) {
    .img, .img2, .img4 {
        background-size: 840px 1050px;
        width: 840px;
	    height: 1050px;
    }

    .img3 {
        background-size: 800px 159px;
        width: 800px;
        height: 159px;
    }

    .img5, .img6, .img7, .img8, .img9 {
        background-size: 800px 800px;
        width: 800px;
	    height: 800px;
    }
    
}

@media only screen and (max-width: 900px) {
    .img, .img2, .img4 {
        background-size: 400px 500px;
        width: 400px;
	    height: 500px;
    }

    .img3 {
        background-size: 420px 84px;
        width: 420px;
        height: 84px;
    }

    .img5, .img6, .img7, .img8, .img9 {
        background-size: 400px 400px;
        width: 400px;
	    height: 400px;
    }
}